@{ // TODO P03 2-1: Strongly-typed this view to MugOrder
}

@{
    ViewBag.Title = "New Mug Order";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-sm-6">
        <form asp-controller="MugOrder" asp-action="Create" method="post" class="form-horizontal" role="form">
            <div class="form-horizontal">
                <div class="form-group">
                    @{ // TODO P03 2-2: Bind the label and inputs to the property Color
                    }
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-7">
                        <input type="radio" value="white" checked="checked" /> White
                        <input type="radio" value="silver" /> Silver
                    </div>
                </div>
                <div class="form-group">
                    @{ // TODO P03 2-3: Bind the label and input to the property Qty
                    }
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-6">
                        <input class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
